{{lookup-form zipLookup="zipLookup"}}


<ul>
  {{#each model.house as |house|}}
    <li> {{house.name}}
  </li>
  {{/each}}
</ul>


<ul>
  {{#each model.senate as |senate|}}
    <li> {{senate.name}} </li>
  {{/each}}
</ul>
