{{lookup-form zipLookup="zipLookup"}}


<ul>
  {{#each model.house as |house|}}
    <li> {{#link-to 'house' house.committee_id}}{{house.name}}{{/link-to}}
  </li>
  {{/each}}
</ul>


<ul>
  {{#each model.senate as |senate|}}
    <li> {{senate.name}} </li>
  {{/each}}
</ul>
